input{
    background-color: lightyellow;
    color: darkblue;
    border: 2px solid blue;
    padding: 10px;
    font-size: 16px;
}
button{
    border-radius: 45%;
    background-color: green;
    color: white;
   font-size: 20px;
}
body{
    text-align: center;
    background-position: fixed;
    background-repeat: no-repeat;
    background-image: url("img.jpg");
    background-size: cover;
}
#result{
 background-color: darkgreen;
 color: white;
 font-size: 75px;
}
hr{
    border: solid;
}
h1{
    font-size:50px;
}