input{
    background-color: lightyellow;
    color: darkblue;
    border: 2px solid blue;
    padding: 10px;
    font-size: 16px;
}
button{
    border-radius: 20%;
    background-color: green;
    color: white;
}
body{
    text-align: center;
}